body{
	background: white url("images/back.jpg");
}


.navbar{

    border-radius: 0;

}

.navbar-inverse {
     background-color: #401200;
     border-color: #080808;
}

.navbar-brand{
    font-family: 'satisfy', cursive;

}

.glyphicon-heart {
    color: #CCCCCC;
    font-size: 25px;
}

.glyphicon-heart.active {
    color: #ac0502;
}

.fa-smile-o{
    color: #080808;
    font-size: 30px;
}

.fa-smile-o.active {
        size: 20px;
        font-size: 30px;
        color: #ff3b25;

}


