{% extends 'produit/base.html' %}
{% block body %}
    <div class="row">
  <div class="col-md-6"><img src="{{ produit.logo.url }}" style="width:500px;height:500px;"></div>
       <div class="col-xs-6 .col-md-1"><img src="{{ produit.image1.url }}" style="width:190px;height:190px;"> </div>
        <div class="col-xs-6 .col-md-1"><img src="{{ produit.image2.url }}" style="width:200px;height:200px;"> </div>
        <div class="col-xs-6 .col-md-1"><img src="{{ produit.image3.url }}" style="width:190px;height:190px;"> </div>
<div>
    <ul>
        <li> <h3>product name : {{ produit.title }}</h3></li>
        <h3>produit prix : {{ produit.prix }}</h3>
        <h3> product description : {{ produit.descreption }}</h3>
        <h3>produit etat : {{ produit.etat }}</h3>

    </ul>

</div>

	{% if error_message %}
	 	<p>{{error_message}}</p>
	 {% endif%}
    </div>
{% endblock %}